#carouselButtons {
    margin-left: 100px;
    position: absolute;
    bottom: 0px;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    bottom: 130px;
    padding:1px;
    color: rgb(255, 255, 255);
    
    background-color: rgba(32, 155, 221, 0.2);
}


