.icon:hover .fa-stack{
    color: red;
    transition: 0.1s;
    transform: rotateY(180deg);
}

.icon .fa-stack {  
    transition: 0.1s; 
}

.icon{
    display: inline-block;
    width:60px;
    height:60px;
    border: 1px; /* solid blue;*/
    overflow: hidden;
    text-align: center;
    margin: auto;
    
}

.icon-project{
    display: inline-block;
    width:2.188rem;
    height:2.188rem;
    border: 1px; /* solid blue;*/
    overflow: hidden;
    text-align: center;
    margin: auto;
    transform: scale(1);

}

.text-box-project {
    background-color: gray;
    border-radius: 1em;
    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
    font-size: 1rem;
    /*inline-size: min-content;*/
    position: absolute;
    bottom:-10px;
    overflow: visible;
    display: inline-block;
    white-space: nowrap;
}

.text-box {
    background-color: gray;
    border-radius: 1em;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10pt;
    text-align:center;
    /*inline-size: min-content;*/
    position: absolute;
    bottom: -3.5em;
    overflow: visible;
    display: inline-block;
    white-space: nowrap;
}


.flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 40px;

    /*border: 1px solid blue;*/
  }


.flex-box-project {
display: flex;
justify-content: left;
flex-wrap: wrap;
gap: 0.188rem;

/*border: 1px solid blue;*/
}


.flex-box-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}




/*
.icon-wrapper {
    display: grid;
    margin: 0 auto;
    width:70%;

    grid-template-columns: repeat(6, 2fr);
    gap: 10px;
    border:5px solid rgb(245, 10, 10);
    justify-items: center;
  }
*/
.center-icon-container {
    margin: auto;
    width: 70%;
    /*border: 5px solid #FFFF00;*/
    border: 5px;
    padding: 10px;
    padding-bottom: 20px;
    }

.arrow-container {
    position:absolute;
    bottom:0%;
    width:100%;
    height:30%;
    z-index:20;
    
    /*border: 5px solid #FFFF00;*/
}

.arrow-container:hover {
    /*background:  linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1));*/
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));

}


.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

/* Animation*/
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}




/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 60px;
    height: 60px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
  
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center; 
    justify-content: center;

  }




  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-project {
    background-color: transparent;
    width: 2.188rem;
    height: 2.188rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
.flip-card-inner-project {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-project:hover .flip-card-inner-project {
    transform: rotateY(180deg);
  }
  

  /* Position the front and back side */
  .flip-card-front-project, .flip-card-back-project {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front-project {
    
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back-project {
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
    transform: rotateY(180deg);
  }



  @media screen and (min-width: 992px) {
    .icon-project{
        width:2.188rem;
        height:2.188rem;
    } 
    
    .flip-card-project {
      width: 2.188rem;
      height: 2.188rem;
    }
    .flex-box-project {
      gap: 0.625rem;
      }
    }