/* Style the buttons that are used to open and close the accordion panel */
.accordion-container {
    vertical-align: middle;
    margin: auto;
    width:80%;

}

.accordion {

  font:1.3rem;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  /*text-align: left;*/
  border: none;
  outline: none;
  transition: 0.4s; 
}

.fas {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.accordion-arrow {
  position: absolute;
  margin:auto;
  font-size: 1.7rem;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform 0.15s linear;
}

.accordion-arrow-container {
  vertical-align: middle;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 582px) {
  .accordion-arrow-container {
    display: none;
  }
}

.arrow-down{
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.arrow-down.open{
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.entry-company__expand-icon[data-v-a01f238e] {
align-items: center;
display: flex;
height: 65px

}
#right-align {
    position:absolute;
    right:0px;
    bottom:0px;

}

/*
.accordion-arrow {
  position: absolute;
  top: 22px;
  right: 10px;
  font-size: 1.7rem;
  border: solid rgb(8, 1, 1);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  opacity: .5;
  transform: rotate(-135deg);
  transition: transform 0.15s linear;
}*/



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  /*background-color: #ccc;*/
  
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  font:1.3rem;
  padding: 0 18px;
  background-color: #f3f3f3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel-education {
  font:1.3rem;
  padding: 0 18px;
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.dot {
  position: absolute;
  margin:auto;
  font-size: 1.7rem;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;

}

.accordion-line {
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 10%;
  width: 10px;
  background-color: rgb(194, 194, 194);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 10;
}

.entry-body {
	margin-left: 10px;
	border-left: 2px solid #d3d3d3
}

.timeline__container {
	height: 100px;
	display: flex;
	align-items: center;
	margin-right: 10px
}

.dot-spacer {
	padding: 0 10px
}

.entry-duration {
	font-style: italic;
	opacity: .6;
	white-space: nowrap
}

.timeline__dot {
	border-radius: 50em;
	border: 2px solid grey;
	background-color: #fff;
	width: 14px;
	height: 14px;
	margin-left: -8px;
	margin-right: 5px
}

.entry-company {
	align-items: center;
	min-height: 65px
}

.entry-company__position {
	opacity: .8;
	font-style: italic
}

.entry-company__expand-icon {
	align-items: center;
	display: flex;
	height: 65px
}

.stack-icon__container {
	font-size: 2em;
	width: 100%
}

.entry-description {
	min-width: 250px
}

.experiences-body {
	max-width: 1000px;
	margin: 0 auto
}






/* original css */
.entry-body[data-v-a01f238e] {
	margin-left: 10px;
	border-left: 2px solid #d3d3d3
}

.timeline__container[data-v-a01f238e] {
	height: 65px;
	display: flex;
	align-items: center;
	margin-right: 10px
}

.dot-spacer[data-v-a01f238e] {
	padding: 0 10px
}

.entry-duration[data-v-a01f238e] {
	font-style: italic;
	opacity: .6;
	white-space: nowrap
}

.timeline__dot[data-v-a01f238e] {
	border-radius: 50em;
	border: 2px solid grey;
	background-color: #fff;
	width: 14px;
	height: 14px;
	margin-left: -8px;
	margin-right: 5px
}

.entry-company[data-v-a01f238e] {
	align-items: center;
	min-height: 65px
}

.entry-company__position[data-v-a01f238e] {
	opacity: .8;
	font-style: italic
}

.entry-company__expand-icon[data-v-a01f238e] {
	align-items: center;
	display: flex;
	height: 65px
}

.stack-icon__container[data-v-a01f238e] {
	font-size: 2em;
	width: 100%
}

.entry-description[data-v-a01f238e] {
	min-width: 250px
}

.experiences-body[data-v-1fa2c77b] {
	max-width: 1000px;
	margin: 0 auto
}



.content-section {
	padding: 20px 10px
}

.content-section__header {
	font-size: 2em;
	font-weight: 800;
	padding-top: 20px;
	padding-bottom: 4px;
	text-align: center;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50
}

.content-section__body {
	padding: 4px;
	padding-bottom: 20px
}

.content-section__body p {
	margin-bottom: 1em
}